<div class="page-header">
  <div class="pull-right">
    <%= link_to "Add Twitter Account", user_omniauth_authorize_path(:twitter), class: "btn btn-default" %>
  </div>

  <h1>Twitter Accounts</h1>
</div>


<% if current_user.twitter_accounts.empty? %>
  <div class="alert alert-success"><%= link_to "Connect a Twitter Account", user_omniauth_authorize_path(:twitter) %> to get started!</div>
<% end %>

<% current_user.twitter_accounts.each do |twitter_account| %>
  <div class="twitter-account">
    <%= link_to image_tag(twitter_account.image_url, class: "img-rounded"), twitter_account %>

    <div class="twitter-account-body">
      <%= link_to twitter_account do %>
        <strong>@<%= twitter_account.username %></strong>

        <span>
          Keywords:
          <% twitter_account.keywords.each do |keyword| %>
            <span class="label label-primary"><%= keyword.text %></span>
          <% end %>

        </span>
      <% end %>
    </div>
  </div>
<% end %>

