<div class="page-header">
  <div class="pull-right">
    <%= link_to "Delete", @twitter_account, class: "btn btn-default", method: :delete, confirm: "Are you sure you want to delete @#{@twitter_account.username}?" %>
  </div>

  <%= image_tag(@twitter_account.image_url, class: "img-rounded pull-left") %>
  <h1>@<%= @twitter_account.username %></h1>
</div>

<div class="row">
  <div class="col-sm-3">
    <h4><%= fa_icon("tags") %> Keywords</h4>
    <% if @twitter_account.keywords.empty? %>
      <p class="text-muted">No keywords added yet.</p>
    <% end %>

    <div class="form-group">
    <% @twitter_account.keywords.each do |keyword| %>
      <%= link_to twitter_account_keyword_path(@twitter_account, keyword), method: :delete, class: "btn btn-default" do %>
        <%= keyword.text %>
        <%= fa_icon("times") %>
      <% end %>
    <% end %>
  </div>

    <%= form_for [@twitter_account, Keyword.new], html: {class: "form-inline" } do |f| %>
      <div class="form-group">
        <%= f.text_field :text, placeholder: "Add Keyword", class: "form-control" %>
      </div>
      <div class="form-group">
      <%= f.submit "Add", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>

  <div class="col-sm-9">
    <h4>Recently Favorited Tweets</h4>

    <% if @twitter_account.favorited_tweets.empty? %>
      <% if @twitter_account.keywords.empty? %>
        <div class="alert alert-success"><%= fa_icon("arrow-left") %> Add a keyword to begin favoriting tweets!</div>
      <% else %>
        <div class="alert alert-info">We will begin favoriting tweets shortly!</div>
      <% end %>
    <% end %>


    <% @twitter_account.favorited_tweets.recent.sorted.each do |favorited_tweet| %>
      <div class="tweet">
        <%= link_to image_tag(favorited_tweet.image_url, class: "img-rounded"), twitter_account_url(favorited_tweet.username), target: "_blank" %>

        <p class="tweet-body">
          <span class="pull-right"><%= link_to "#{time_ago_in_words(favorited_tweet.posted_at)} ago", tweet_url(favorited_tweet) %></span>
          <%= link_to twitter_account_url(favorited_tweet.username), target: "_blank" do %>
            <span class="name"><%= favorited_tweet.name %></span>
            <span class="username">@<%= favorited_tweet.username %></span>
          <% end %>
          <span class="text"><%= Rinku.auto_link(favorited_tweet.text).html_safe %></span>
        </p>
      </div>
    <% end %>
  </div>
</div>
